.appliedCoupon-modal-style {
    position: absolute;
    top: -260px;
    left: 38%;
}

.appliedCoupon-modal-content {
    background-color: #28a745;
    color: white;
}

.check-icon {
    margin-left: 7px;
}