.foodMenu-row1 {
    height: 10vh;
    color: white;
    cursor: default;
}

.foodMenu-row2 {
    height: 73vh;
    padding-bottom: 8px;
}

.food-item-col {
    height: 73vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.food-item-col::-webkit-scrollbar {
    display: none;
}

.food-item-container {
    flex-direction: column;
}

.food-item-card {
    border: 2px solid white;
    height: 100%;
    width: 100%;
}

.food-item-img {
    height: 100%;
    width: 100%;
}

.food-item-card-title {
    text-align: start;
}

.food-item-card-text {
    text-align: start;
    font-weight: 300;
}

.food-item-right-img {
    height: 400px;
    width: 500px;
    transition: 1s ease-in-out;
}


.food-item-right-img:hover {
    height: 500px;
    width: 650px;
}

.foodMenu-row3 {
    height: 7vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: default;
}

.menu-not-found {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: default;
}

.button-select-quantity {
    display: flex;
    align-items: center;
}

.selectOptions {
    margin-left: 15px;
    height: 37px;
    border-radius: 5px;
    text-align: center;
}

.quantity {
    margin-left: 15px;
    height: 37px;
    width: 50px;
    border-radius: 5px;
    text-align: center;
}

.quantity::placeholder {
    color: black;
    text-align: center;
}

.admin-food-item-card {
    height: 27vh;
    width: 100%;
    border: 2px solid white;
}

.admin-food-item-img {
    height: 26.5vh;
    width: 100%;
}