.invalid-credentials-alert {
    position: absolute;
    top: 55%;
    left: 49%;
    transform: translateX(-50%);
    z-index: 9999;
    width: 500px;
    /* Adjust the width as needed */
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}